
<section id="login_page" style="height:100%">
    <div class="row no-gutters" >
        <div class="col left_maincol  text-white " style="background-color: #3075bf;">
            <div class="left_col" >
               
                <a class="navbar-brand logohead" href="#" >
                    <img src="/assets/logo_white.png" width="35.3" height="40" class="d-inline-block align-top" alt="">
                    <span class="ml-3 " >Revenued</span>
                </a>
               
                <h1>A card that cares less about FICO and more about your business</h1>
                <!-- <p class="data">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, cupiditate?</p> -->
            </div>
            <footer>
                <nav class="navbar navbar-expand-lg px-0 ">
                    <ul class="navbar-nav text-uppercase">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.revenued.com/about/">About Revenued</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.revenued.com/contact/">Contact us</a>
                    </li>
                    </ul>
                </nav>
            </footer>
        </div>
        
        <div class="col d-flex justify-content-center right_maincol">
            
            <div class="right_col">                
                <div class="right_col_head">
                    <h3>Welcome to RevCard,</h3>
                    <h4> Create Password Below</h4>
                </div>
                <div [formGroup]="createPasswordForm" id="form">
                    <div class="p-2">
                        <label for="password">Password</label>
                        <input formControlName="password" type="password" class="form-control p-1 " placeholder="Enter Password">
                    </div>
                    <div class="p-2">
                        <label for="confirmpassword" >Confirm Password</label>
                        <input type="password" class="form-control p-1" placeholder="************">
                    </div>
                </div> 
                 <div class="text-center login_btn ">
                     <button type="button" class="btn  btn-center" (click)="setPassword()" >Set Password</button>
                </div>
                <div class="d-sm d-xl-none text-center mobile_signup">
                    <p clas="text-center"><a href="#">Not a member? &nbsp;&nbsp;<span>Sign Up</span></a></p>
                </div>
            </div>
        </div>
    </div>
</section>