<div class="container">
    <div class="card" style="height:300px;width: auto;">
        <div class="d-flex justify-content-center  my-auto">
            <div id="form" [formGroup]="passwordForm">
                <div class="m-3 text-left">
                    <label for="oldpassword">Current Password</label>
                    <input type="password" formControlName="currentPassword" class="form-control p-0 "
                        placeholder="***********">
                </div>
                <div class="m-3 text-left">
                    <label for="newpassword">New Password</label>
                    <input type="password" formControlName="newPassword" class="form-control p-0" placeholder="">
                </div>
                <div class="m-3 text-left">
                    <label for="confirmpassword" #confirmPassword (keyUp)="0">Confirm Password</label>
                    <input type="password" class="form-control p-0" placeholder="">
                </div>
                <div class="text-danger" *ngIf="newPassword.touched && confirmPassword!==newPassword.value">
                    <h6>Password and Confirm Password mismatch</h6>
                </div>
                <div class="text-center m-2">
                    <button type="button" class="btn btn-center" (click)="updatePassword()">Update Password</button>
                </div>
            </div>
        </div>
    </div>
</div>