<!--<div>Transaction History</div>
<input type="text" placeholder="Search for description/amount">
<div class="col-xs-12 col-12 col-md-4 form-group">
    <input type="text"
           placeholder="Daterangepicker"
           class="form-control"
           bsDaterangepicker>
  </div>
<div>Upload Logo</div>
<button type="button" class="btn btn-primary"
        popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  Live demo
</button>-->

<section id="trans_his">
    <div class="container card">
            <div class="navbar navbar-expand-lg mt-3">
                <a class="navbar-brand mr-auto font-weight-bold text-dark text-uppercase" href="#">Transaction History</a>
                
            
                
                <div class="form-inline my-2 my-lg-0">
                    <div class="form-group mr-2">
                        <div class="icon-addon addon-lg">
                            <input type="text" placeholder="search for description/amount" class="form-control" id="email">
                            <label for="email" class="fa fa-search" rel="tooltip" title="search for description/amount"></label>
                        </div>
                    </div>
                    <div class="form-group mr-2">
                        <div class="icon-addon addon-lg">
                           
                            <input class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="bsRangeValue">

                        </div>
                    </div>
                    <button class="btn  my-sm-0 mr-2" type="submit" style="border: 1px solid #E6EBF0;
                    border-radius: 4px;">
                        <img src="assets/file_upload.png" alt="" class="img-fluid w-50">
                    </button>
                </div>
                
            </div>
            <div class="table-responsive">
                <!--<table class="table table-hover table-outline table-vcenter text-nowrap card-table"  width="100%">-->
                <table class="table table-hover table-vcenter" width="100%">
                    <thead>
                        <tr>
                            <th class="w-1p textwidget custom-html-widget">
                                Date
                            </th>
                            <th class="textwidget custom-html-widget">
                                Decription
                            </th>
                            <th style="text-align: center" class="textwidget custom-html-widget">
                                Amount
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let transaction of transactionhistory">
                            <td style="padding: 10px;" class="textwidget custom-html-widget">
                                <span class="text-muted">{{transaction.SUBMITDATE|date}}</span>
                            </td>
                            <td style="padding: 10px;" class="textwidget custom-html-widget">{{transaction.LENAME}}
                            </td>                
                            <td style="text-align: center; padding: 10px;" class="textwidget custom-html-widget">{{transaction.EXTAPPID[0]|currency}}<i class="fa fa-info-circle"  popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." [outsideClick]="true"></i>
                            </td>
                            <td style="padding: 10px;" class="textwidget custom-html-widget">
                                <i class="fa fa-gavel" aria-hidden="true"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</section>