<ng-template #popTemplate>
    <div *ngIf="popoverInfo.trxn.status!=='ctsDeclined'">
        <div class="row no-gutters mb-2 d-flex justify-content-between">
            <div class=" left_tt"> Payback Amount:</div>
            <div class=" text-right right_tt" *ngIf="popoverInfo.fundingStmt">
                {{(popoverInfo.fundingStmt?popoverInfo.fundingStmt.paybackAmount:'0.00')|number:'1.2-2'|currency}}</div>
            <div class=" text-right right_tt" *ngIf="!popoverInfo.fundingStmt">N/A</div>
        </div>
        <div class="row no-gutters mb-2 d-flex justify-content-between">
            <div class=" left_tt"> Collected Amount:</div>
            <div class=" text-right right_tt" *ngIf="popoverInfo.fundingStmt">
                {{((popoverInfo.fundingStmt && popoverInfo.fundingStmt.totCollAmt)?popoverInfo.fundingStmt.totCollAmt[0]:0.00)|number:'1.2-2'|currency}}
            </div>
            <div class=" text-right right_tt" *ngIf="!popoverInfo.fundingStmt">N/A</div>
        </div>
        <div class="dropdown-divider"></div>
        <div class="row no-gutters d-flex justify-content-between">
            <div class=" total_bal">Balance Amount:</div>
            <div class=" text-right total_bal" *ngIf="popoverInfo.fundingStmt">
                {{((popoverInfo.fundingStmt && popoverInfo.fundingStmt.balToDone)?(popoverInfo.fundingStmt.paybackAmount-popoverInfo.fundingStmt.totCollAmt[0]):0.00)|number:'1.2-2'|currency}}
            </div>
            <div class=" text-right right_tt" *ngIf="!popoverInfo.fundingStmt">N/A</div>
        </div>
    </div>
</ng-template>
<section id="trans_his">
    <div class="container">
        <div class="card card1">
            <div class="navbar navbar-expand-lg mt-3">
                <a class="navbar-brand mr-auto font-weight-bold text-uppercase">Transaction History</a>
                <div class="form-inline my-2 my-lg-0">
                    <div class="form-group mr-2">
                        <div class="icon-addon addon-lg">
                            <input type="text" placeholder="Search..." class="form-control" id="email"
                                [(ngModel)]="searchKey" (keyup)="searchHistory()">
                            <label for="email" class="fa fa-search" rel="tooltip" title="Search..."></label>
                        </div>
                    </div>
                    <div class="form-group mr-2">
                        <div class="icon-addon addon-lg">
                            <input class="form-control" #drp="bsDatepicker" bsDatepicker [(ngModel)]="minDate"
                                [bsConfig]="{containerClass:'mytheme-purple'}" id="startDate"
                                (bsValueChange)="onDateChange($event,'minDate')">
                            <label for="startDate" class="fa fa-calendar-o" rel="tooltip" title="startDate"></label>
                        </div>
                        <div class="icon-addon addon-lg">
                            <input class="form-control" #drp="bsDatepicker" bsDatepicker [(ngModel)]="maxDate"
                                [bsConfig]="{containerClass:'mytheme-purple'}" id="endDate"
                                (bsValueChange)="onDateChange($event,'maxDate')" [maxDate]="maxDate">
                            <label for="endDate" class="fa fa-calendar-o" rel="tooltip" title="endDate"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-vcenter" width="100%">
                    <thead>
                        <tr>
                            <th class="w-1p textwidget custom-html-widget">
                                Date
                            </th>
                            <th class="textwidget custom-html-widget">
                                Description
                            </th>
                            <th class="textwidget custom-html-widget">
                                Status
                            </th>
                            <th style="text-align: right" class="textwidget custom-html-widget">
                                Amount
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="!isTransactionsLoaded">
                            <td colspan="4">
                                <div class="small-loader mx-auto"></div>
                            </td>
                        </tr>
                        <tr *ngFor="let transaction of currentTransactions">
                            <td style="padding: 10px;" class="textwidget custom-html-widget">
                                <span>{{transaction.trxn.recDate}}</span>
                            </td>
                            <td style="padding: 10px;" class="textwidget custom-html-widget">
                                {{transaction.trxn.cpty.name}}
                            </td>
                            <td style="padding: 10px;" class="textwidget custom-html-widget">
                                {{transactionStatus[transaction.trxn.status]}}
                            </td>
                            <td style="text-align: right; padding: 10px;">
                                {{(transaction.trxn?transaction.trxn.amount:0.00)|number:'1.2-2'|currency}}
                            </td>
                            <td style="padding: 10px;">
                                <!-- <i class="fa fa-info" triggers="mouseenter:mouseleave" [popover]="popTemplate" [outsideClick]="true" placement="auto right" [popoverTitle]="transaction.trxn.status==='ctsDeclined'?'DECLINED':'INFO'" (mouseenter)="popoverInfo=transaction" container="body"></i>  -->
                            </td>
                            <td style="padding: 10px;" class="textwidget custom-html-widget hammer">
                                <a routerLink="/dashboard/default" style="cursor:pointer;">
                                    <img src="assets/hammer.png" class="img-fluid" title="Dispute Charge">
                                </a>
                            </td>
                        </tr>
                        <tr *ngIf="currentTransactions.length==0">
                            <td colspan="4" class="text-center">
                                No transactions in the given date range
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="d-flex justify-content-center p-5 border-0"
            *ngIf="filteredTransactions && filteredTransactions.length>0">
            <pagination class=" border-0" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;"
                lastText="&raquo;" [totalItems]="filteredTransactions.length-1" (pageChanged)="pageChanged($event)"
                [boundaryLinks]="true" [itemsPerPage]="itemsPerPage"></pagination>
        </div>

    </div>


</section>
<ng-template #invalidDateTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left"></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Start Date cannot be greater than End Date
      </div>
</ng-template>