<section id="login_page" style="height:100%">
    <div class="row no-gutters">
        <div class="col d-flex justify-content-center right_maincol">

            <div class="right_col">
                <div class="right_col_head">
                    <div class="d-flex text-center justify-content-center">
                        <h3>Welcome to <span>Revenued</span></h3>
                    </div>
                </div>
                <div [formGroup]="forgotPasswordForm" id="form">
                    <div class="p-2">
                        <label for="password" [class.field-focus]="isFieldFocussed">Enter Your Email Address</label>
                        <input formControlName="email" type="text" class="form-control p-1" placeholder="Email Address"
                            (focus)="forgotPwdOnFocus()" (focusout)="forgotPwdOnFocusOut()">
                    </div>
                </div>
                <div class="text-center login_btn">
                    <button type="button" class="btn btn-center login-button btn-responsive"
                        (click)="forgotPassword()">Reset
                        Password</button>
                </div>
                <p class="text-center p-2">
                    <a href="/login" class="for_pass">Login</a>
                </p>
            </div>
        </div>
    </div>
</section>