<section id="login_page" style="height:100%">
    <div class="row no-gutters">
        <div class="col left_maincol  text-white " style="background-color: #3075bf;">
            <div class="left_col">

                <a class="navbar-brand logohead" href="#">
                    <img src="/assets/revenued_primary_logo-white.png" width="200" height="40"
                        class="d-inline-block align-top" alt="">
                </a>

                <h1>A card that cares less about FICO and more about your business</h1>
                <!-- <p class="data">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, cupiditate?</p> -->
            </div>
            <footer>
                <nav class="navbar navbar-expand-lg px-0 ">
                    <ul class="navbar-nav text-uppercase">
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.revenued.com/about/">About Revenued</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.revenued.com/contact/">Contact us</a>
                        </li>
                    </ul>
                </nav>
            </footer>
        </div>

        <div class="col d-flex justify-content-center right_maincol">

            <div class="right_col">
                <div class="right_col_head">
                    <h3>Welcome to Revenued</h3>
                    <h4> Reset Your Password </h4>
                </div>
                <div [formGroup]="forgotPasswordForm" id="form">
                    <div class="p-2">
                        <label for="password" [class.field-focus]="isFieldFocussed">Enter Your Email Address</label>
                        <input formControlName="email" type="text" class="form-control p-1" placeholder="Email Address"
                            (focus)="forgotPwdOnFocus()" (focusout)="forgotPwdOnFocusOut()">
                    </div>
                </div>
                <div class="text-center login_btn">
                    <button type="button" class="btn btn-center login-button btn-responsive"
                        (click)="forgotPassword()">Reset
                        Password</button>
                </div>
                <p class="text-center p-2">
                    <a href="/login" class="for_pass">Login</a>
                </p>
            </div>
        </div>
    </div>
</section>