.bluebackground1{
    width:100%;
    height:70px;
    background-color:#2b73b0;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top:150px;
    left:0px;
    z-index:-1;
}
.bluebackground{
    width:100%;
    height:40%;
    background-image:url("/assets/blue.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top:220px;
    left:0px;
    z-index:-1;
}
.purplebackground1{
    width:100%;
    height:70px;
    background-color:#542d87;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top:150px;
    left:0px;
    z-index:-1;
}
.purplebackground{
    width:100%;
    height:40%;
    background-image:url("/assets/purple.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top:220px;
    left:0px;
    z-index:-1;
}
@media(max-width:360px){
    .bluebackground1.bg-sub{
        top: 101px;
    }
    .bluebackground{
        background-image:url("/assets/blue-mobile.png");
        top: 170px;
    }
}

