/* You can add global styles to this file, and also import other style files */
.mytheme-purple .bs-datepicker-head{
    background-color: #542d87 !important;
}
.bs-datepicker-body table td span[class*="select-"], .bs-datepicker-body table td[class*="select-"] span{
    color:#aba4b1;
    background-color: rgb(105, 68, 105)
}
a.pagelink{
    border:0px solid !important;
}
@font-face{
    font-family: Gotham book;
    src:url("assets/webfonts/GothamBook.ttf");
}
@font-face{
    font-family: Gotham bold;
    src:url("assets/webfonts/GothamBold.ttf");
}
.right-modal {
    height: 100%;
    margin: 0;
    float: right;
  }
.right-modal .modal-content {
    min-height: 100%;
    
}
accordion.no-btm-border .panel-heading{
    border-bottom: none;
}

/* .accordion .card:first-of-type{
    border-bottom: 1px solid rgba(0,0,0,.125) !important;
    border-radius: 4px !important;
  } */

  
  