/* You can add global styles to this file, and also import other style files */
@import "./app/styles/main.css";

@font-face{
    font-family: Gotham book;
    src:url("assets/webfonts/GothamBook.ttf");
}
@font-face{
    font-family: Gotham bold;
    src:url("assets/webfonts/GothamBold.ttf");
}  