<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<section id="main_footer">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-4">
                <ul class="list-unstyled text-white">
                    <li><a href="https://www.revenued.com/about/" target="_blank">About Revenued</a></li>
                    <li><a href="https://www.revenued.com/terms/" target="_blank">Terms of Service</a></li>
                    <li><a href="https://www.revenued.com/privacy/" target="_blank">Privacy Policy</a></li>
                    <li><a href="https://www.revenued.com/faq/" target="_blank">FAQs</a></li>
                    <li><a href="https://www.revenued.com/contact/" target="_blank">Contact Us</a></li>
                    <li><a href="https://www.revenued.com/site-map/" target="_blank">Site Map</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                
            </div>
            <div class="col-md-4">
                <div class="text-right text-white">
                    Revenued<br>
                </div>
                <div class="text-right text-white social_icons mt-3">
                    <a href="https://www.facebook.com/revenued" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/revenued_com" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/company/revenued/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="row no-gutters copy">
            <div class="col-md-12">
                <a href="https://www.revenued.com/about/" target="_blank"><p>&copy;2020 Revenued | All Rights Reserved</p></a>
            </div>
        </div>
    </div>
</section>