<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<section id="main_footer" class="d-none d-md-block d-lg-block d-xl-block">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-4">
                <ul class="list-unstyled text-white">
                    <li><a href="https://www.credocard.com/about/" target="_blank">About Credocard</a></li>
                    <li><a href="https://www.credocard.com/terms/" target="_blank">Terms of Service</a></li>
                    <li><a href="https://www.credocard.com/privacy/" target="_blank">Privacy Policy</a></li>
                    <li><a href="https://www.credocard.com/faq/" target="_blank">FAQs</a></li>
                    <li><a href="https://www.credocard.com/contact/" target="_blank">Contact Us</a></li>
                    <li><a href="https://www.credocard.com/site-map/" target="_blank">Site Map</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                
            </div>
            <div class="col-md-4">
                <div class="text-right text-white">
                    Credocard<br>
                </div>
                <div class="text-right text-white social_icons mt-3">
                    <a href="https://www.facebook.com/credocard" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/credocard_com" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/company/credocard/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="row no-gutters copy">
            <div class="col-md-12">
                <a href="https://www.credocard.com/about/" target="_blank"><p>&copy;2021 Credocard | All Rights Reserved</p></a>
            </div>
        </div>
    </div>
</section>