<section id="main_footer">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-4">
                <ul class="list-unstyled text-white">
                    <li>About Revenued</li>
                    <li>Terms of Service</li>
                    <li>Privacy Policy</li>
                    <li>FAQs</li>
                    <li>Contact Us</li>
                    <li>Site Map</li>
                </ul>
            </div>
            <div class="col-md-4">
                
            </div>
            <div class="col-md-4">
                <div class="text-right text-white">
                    Revenued’s financial content<br>
                    and tools for small business help you
                    organize your finances.
                </div>
                <div class="text-right text-white social_icons mt-3">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <div class="row no-gutters copy">
            <div class="col-md-12">
                <a href="#"><p>&copy;2020 Revenued | All Rights Reserved</p></a>
            </div>
        </div>
    </div>
</section>