<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<!--<H1>ACCOUNT SUMMARY OF 'XXX1234'</H1>
<div style="display: flex">
    <div>
        <div>SPENDING LIMIT</div>
        <H5>$30000</H5>
    </div>
    <div>
        <div>DISCOUNTER BALANCE</div>
        <H5>$10000</H5>
    </div>
    <div>
        <div>PENDING ACCOUNTS</div>
        <H5>$500</H5>
    </div>
    <div>
        <div>SPENDING AVAILABILITY</div>
        <H5>$19000</H5>
    </div>
    <div>
        <div>DAILY SPEND LIMIT</div>
        <H5>$10000</H5>
    </div>
</div>-->
<section id="ac_summary" class="d-flex justify-content-center">
    <div class="container d-none d-md-block d-lg-block d-xl-block">
        <div class="card card1">
            <div class="row no-gutters">
                <div class="col-md-12" id="summaryheading">
                    <h5 class="text-uppercase">CARD ENDING - {{accountLast}}</h5>
                </div>
            </div>
            <div>
                <div class="row    pt-3 summary-l no-gutters justify-content-center ">

                    <div class="  col-xs-12 w-sm-50 p-1 ">
                        <div class="card  border-0  ">

                            <div class="d-flex align-items-center mb-10">
                                <div class="spending-l-imit">SPENDING LIMIT</div>
                                <img src="/assets/icon-info.svg" class="ml-1 cursor-pointer"
                                    (click)="openModal(template,'Spending Limit')">
                            </div>



                            <H5 class="text-bold" style="color:#3FC0EF">{{spendingLimit|currency}}</H5>


                        </div>
                    </div>
                    <div class="symbol col align-self-center text-center"><i class="fa fa-minus" aria-hidden="true"></i>
                    </div>
                    <div class="  col-xs-12 w-sm-50 p-1">
                        <div class="card border-0">

                            <div class="d-flex align-items-center mb-10">
                                <div class="spending-l-imit">DISCOUNTED BALANCE</div>
                                <img src="/assets/icon-info.svg" class="ml-1 cursor-pointer"
                                    (click)="openModal(template,'Discounted Balance')">

                            </div>
                            <H5 class="text-bold" style="color:#CFAC1F">{{discountedBalance|currency}}</H5>


                        </div>
                    </div>
                    <div class="symbol col align-self-center text-center"><i class="fa fa-minus" aria-hidden="true"></i>
                    </div>
                    <div class="  col-xs-12 w-sm-50 p-1 ">
                        <div class="card border-0">
                            <div class="d-flex align-items-center mb-10">
                                <div class="spending-l-imit">PENDING BALANCE</div>
                                <img src="/assets/icon-info.svg" class="ml-1 cursor-pointer"
                                    (click)="openModal(template,'Pending Balance')">

                            </div>
                            <H5 class="text-bold" style="color:#542D87">{{pendingAmount|currency}}</H5>


                        </div>
                    </div>
                    <div class="symbol col align-self-center text-center"><i class="fas fa-equals"></i></div>
                    <div class="  col-xs-12 w-sm-50 p-1">
                        <div class="card border-0">
                            <div class="d-flex align-items-center mb-10">
                                <div class="spending-l-imit">SPENDING AVAILABILITY</div>
                                <img src="/assets/icon-info.svg" class="ml-1 cursor-pointer"
                                    (click)="openModal(template,'Spending Availability')">

                            </div>
                            <H5 class="text-bold" style="color:#D56926">{{spendingAvailability|currency}}</H5>


                        </div>
                    </div>
                    <div class="symbol col align-self-center text-center"></div>
                    <div class="verticalLine  col-xs-12 w-sm-50 p-1 ml-2 mr-auto">
                        <div class="card border-0">
                            <div class="d-flex align-items-center mb-10">
                                <div class="spending-l-imit">DAILY SPEND LIMIT</div>
                                <img src="/assets/icon-info.svg" class="ml-1 cursor-pointer"
                                    (click)="openModal(template,'Daily Spend Limit')">
                            </div>
                            <H5 class="text-bold" style="color:#E5298A">{{dailySpendLimit|currency}}</H5>
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
    <div class="container d-block d-md-none d-lg-none d-xl-none">
        <div class="accordion md-accordion simple-accord" id="my_ac">
            <div class="card">
                <div class="font-flex px-3">
                    <span>CARD ENDING - {{accountLast}}</span>
                </div>
                <div id="ac_summary1" class="mobile_ac d-lg-none d-xl-none d-md-none collapse hide"
                    aria-labelledby="headingOne" data-parent="#my_ac">
                    <div class="card-body">
                        <div class="row d-flex align-items-center justify-content-between no-gutters">
                            <div class="no-margin d-flex align-items-center">
                                <p>SPENDING LIMIT</p>
                                <img src="/assets/icon-info.svg" class="ml-1 cursor-pointer w-14"
                                    (click)="openModal(template,'Spending Limit')">
                            </div>
                            <div class="no-margin">
                                <h6 class="text-bold" style="color:#3FC0EF">{{spendingLimit|currency}}</h6>
                            </div>
                        </div>
                        <div class="row no-gutters"><i class="fa fa-minus" aria-hidden="true"></i></div>
                        <div class="row d-flex align-items-center justify-content-between no-gutters">
                            <div class="no-margin d-flex align-items-center">
                                <p>DISCOUNTED BALANCE</p>
                                <img src="/assets/icon-info.svg" class="ml-1 cursor-pointer w-14"
                                    (click)="openModal(template,'Discounted Balance')">
                            </div>
                            <div class="no-margin">
                                <h6 class="text-bold" style="color:#CFAC1F">{{discountedBalance|currency}}</h6>
                            </div>
                        </div>
                        <div class="row no-gutters"><i class="fa fa-minus" aria-hidden="true"></i></div>
                        <div class="row d-flex align-items-center justify-content-between no-gutters">
                            <div class="no-margin d-flex align-items-center">
                                <p>PENDING BALANCE</p>
                                <img src="/assets/icon-info.svg" class="ml-1 cursor-pointer w-14"
                                    (click)="openModal(template,'Pending Balance')">
                            </div>
                            <div class="no-margin">
                                <h6 class="text-bold" style="color:#542D87">{{pendingAmount|currency}}</h6>
                            </div>
                        </div>
                        <div class="row no-gutters"><i class="fas fa-equals"></i></div>
                        <div class="row d-flex align-items-center justify-content-between no-gutters">
                            <div class="no-margin d-flex align-items-center">
                                <p>AVAILABLE SPENDING</p>
                                <img src="/assets/icon-info.svg" class="ml-1 cursor-pointer w-14"
                                    (click)="openModal(template,'Spending Availability')">
                            </div>
                            <div class="no-margin">
                                <h6 class="text-bold" style="color:#E5298A">{{dailySpendLimit|currency}}</h6>
                            </div>
                        </div>
                        <div class="dropdown-divider">

                        </div>
                        <div class="row d-flex align-items-center justify-content-between no-gutters">
                            <div class="no-margin d-flex align-items-center">
                                <p>DAILY SPEND LIMIT</p>
                                <img src="/assets/icon-info.svg" class="ml-1 cursor-pointer w-14"
                                    (click)="openModal(template,'Daily Spend Limit')">
                            </div>
                            <div class="no-margin">
                                <h6 class="text-bold" style="color:#E5298A">{{dailySpendLimit|currency}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center pos-rel">
                <i *ngIf="isCollapsed" class="fa fa-chevron-down ac_arrow d-md-none d-lg-none d-xl-none"
                    data-toggle="collapse" data-target="#ac_summary1" aria-expanded="true" aria-controls="collapseOne"
                    (click)="expand()"></i>
                <i *ngIf="!isCollapsed" class="fa fa-chevron-up ac_arrow d-md-none d-lg-none d-xl-none"
                    data-toggle="collapse" data-target="#ac_summary1" aria-expanded="true" aria-controls="collapseOne"
                    (click)="collapse()"></i>

            </div>
        </div>
    </div>
    <!-- <accordion class="d-block d-md-none d-lg-none d-xl-none no-btm-border">
        <accordion-group>
            
            <div accordion-heading>
                <span>ACCOUNT SUMMARY OF 'XXX1234'</span>
            </div>
            
            <div class="row d-flex justify-content-between no-gutters">
                <div>
                    <p>SPENDING LIMIT</p>
                </div>
                <div>
                    <H5 style="color:#3FC0EF">{{spendingLimit|currency}}</H5>
                </div>
            </div>
            <div class="row no-gutters"><i class="fa fa-minus" aria-hidden="true"></i></div>
            <div class="row d-flex justify-content-between no-gutters">
                <div>
                    <p>DISCOUNTED BALANCE</p>
                </div>
                <div>
                    <H5 style="color:#CFAC1F">{{discountedBalance|currency}}</H5>
                </div>
            </div>
            <div class="row no-gutters"><i class="fa fa-minus" aria-hidden="true"></i></div>
            <div class="row d-flex justify-content-between no-gutters">
                <div>
                    <p>PENDING BALANCE</p>
                </div>
                <div>
                    <H5 style="color:#542D87">{{pendingAmount|currency}}</H5>
                </div>
            </div>
            <div class="row no-gutters"><i class="fas fa-equals"></i></div>
            <div class="row d-flex justify-content-between no-gutters">
                <div>
                    <p>AVAILABLESPENDING</p>
                </div>
                <div>
                    <H5 style="color:#E5298A">{{dailySpendLimit|currency}}</H5>
                </div>
            </div>
            <div class="dropdown-divider">

            </div>
            <div class="row d-flex justify-content-between no-gutters">
                <div>
                    <p>DAILY SPEND LIMIT</p>
                </div>
                <div>
                    <H5 style="color:#E5298A">{{dailySpendLimit|currency}}</H5>
                </div>
            </div>
        
        </accordion-group>
      </accordion> -->
</section>

<ng-template #template>
    <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <h4 class="content-heading">{{modelTitle}}</h4>
        <p class="content-body">{{this.modelContent}}</p>
        <h5 class="content-heading">Calculation</h5>
        <div class="row no-gutters border-bottom mb-3">
            <div class="col">
                <p>Carpet One</p>
                <p>Makeup Payment(s)</p>
                <p>Outstanding Bounce Fees</p>
            </div>
            <div class="col">
                <p class="text-right"><b>{{2605|currency}}</b></p>
                <p class="text-right"><b>{{70|currency}}</b></p>
                <p class="text-right"><b>{{35|currency}}</b></p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col">
                <p class="text-theme"><b>Total</b></p>
            </div>
            <div class="col">
                <p class="text-right text-theme"><b>{{2710|currency}}</b></p>
            </div>
        </div>
    </div>
</ng-template>