
*{
    font-family: Gotham bold;
    font-weight:bold;
}
#summaryheading h5{
        height: 19px;
        color: #1F74B1;
        font-family: Gotham bold;
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 19px;
}
.spending-l-imit {
    width: 100%;
    color: #90A2B1;
    font-family: Gotham bold;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    margin-bottom:10%;
  }
  .card1{
    border: 1px solid #D9DEE4;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 0 0 rgba(7,40,67,0.25);
    padding:2%;
   
  }
  .summaru-l H5{
    line-height: 24px;
    width:100%;
  }
  #ac_summary .verticalLine:after{
   
    content: "";
    background-color:#E6EBF0;
    position: absolute;
    width: 1px;
    height: 30px;
    top: 50%;
    left: 83%;
    display: block;
    z-index:99;
  }
  @media (max-width: 576px) { 
    .symbol{
       display:none;
    }
    #ac_summary .verticalLine:after{
      display:none;
    }
  }
  @media (max-width:576px){
    .card1{
      padding:3px;
      border:none;
      box-shadow: none;
    }
  }
  @media (max-width:576px){
    .verticalLine:after{
      width:0px;
    }
  }

  @media (max-width: 576px) { 
    .card .card{
       border:1px solid !important;
       text-align:left;
       padding:5px;
       width:155px;
      

    }
    .card .card .spending-l-imit{
      margin-bottom:0%;
      font-size:0.6rem;
      
    }
    .card .card H5{
      font-size:1.2rem;
      color:black !important;
    }
    #summaryheading{
      margin-top:2rem;
      
    }
    #summaryheading h5{
      color:black !important;
    }
  }
  
  .fa-minus, .fa-equals{
    
    color: #90A2B1;
   
    font-size: 0.7rem;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 34px;
  }