
*{
    font-family: Gotham bold;
    font-weight:bold;
}
#summaryheading h5{
        height: 19px;
        color: #1F74B1;
        font-family: Gotham bold;
        font-size: 1rem;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 19px;
}
.mb-10 {
margin-bottom: 10px;
}
.spending-l-imit {
    width: 100%;
    color: #90A2B1;
    font-family: Gotham bold;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
  }
  .card1{
    border: 1px solid #D9DEE4;
    border-radius: 4px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 0 0 rgba(7,40,67,0.25);
    padding:2%;
   
  }
  .summaru-l H5{
    line-height: 24px;
    width:100%;
  }
  #ac_summary .verticalLine:after{
   
    content: "";
    background-color:#E6EBF0;
    position: absolute;
    width: 1px;
    height: 30px;
    top: 50%;
    left: 83%;
    display: block;
    z-index:99;
  }
  @media (max-width: 576px) { 
  
     .verticalLine:after{
      display:none;
    }
  }
/*  @media (max-width:576px){
    .card1{
      padding:3px;
      border:none;
      box-shadow: none;
    }
  }*/


  
  .fa-minus, .fa-equals{
    
    color: #90A2B1;
   
    font-size: 0.7rem;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 34px;
  }
  #ac_summary1 p{
    color:#90A2B1;
    font-family: GOtham bold;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0;
    line-height:15px;
  }
#ac_summary1 H5{
  font-family: Gotham bold;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
  text-align: right;
}
.dropdown-divider{
  border-top:2px solid #e9ecef  !important;

}
.ac_arrow{
  background-color: white;
  border:1px solid rgb(195, 195, 195);
  border-radius: 50%;
  padding:4px;
  color:#1F74B1;
  font-size: 1.rem;
  position: absolute;
}